#web_bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1000px;
    z-index: -10;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: #fff;
}

.shortcut {
    width: 90%;
    height: 40px;
    background-color: #fff;
    font-size: 10px;
    z-index: 999;
}

.left li {
    float: left;
    padding: 8px 30px;
}

.right li {
    float: right;
    padding: 8px 30px;
}

ul li {
    list-style: none;
}

.icon {
    height: 60px;
    width: 80px;
}

.utility-nav ul li a {
    font-size: 12px;
    font-size: .9375rem;
    line-height: 22.5px;
    line-height: 1.40625rem;
    padding: 0 .9rem;
    display: table;
    display: -moz-inline-box;
    color: #646464;
    outline: none;
    text-decoration: none;
}

.body {
    top: 30%;
    background-color: rgba(255, 231, 179, 0.3);
    width: 65%;
    left: 5%;
    margin: auto;
    position: absolute;
    height: 1500px;
}

.left1 {
    top: 10%;
    width: 70%;
    left: 2%;
    margin: auto;
    position: absolute;
    height: 1100px;
}

.foot {
    top: 250%;
    background-color: #fff;
    width: 85%;
    left: 7%;
    border-radius: 15px 15px 0px 0px;
    margin: auto;
    position: absolute;
    height: 300px;
    float: left;
}

.pre_picture {
    width: 200px;
    height: 300px;
}

.pre_picture2 {
    width: 400px;
    height: 250px;
}

.Right {
    float: right;
    width: 30%;
    height: 750px;
    font-size: 10px;
    z-index: 999;
    border-radius: 15px 15px 15px 15px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 70%;
}

.rightbox1 {
    width: 370px;
    height: 220px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(255, 244, 197, 0.3);
    margin: auto;
    position: absolute;
    left: 1%;
}

.rightbox2 {
    width: 370px;
    height: 220px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(255, 244, 197, 0.3);
    margin: auto;
    position: absolute;
    left: 1%;
    top: 37%;
}

.rightbox3 {
    width: 370px;
    height: 220px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(255, 244, 197, 0.3);
    margin: auto;
    position: absolute;
    left: 1%;
    top: 70%;
}

.box_picture {
    width: 370px;
    height: 170px;
    border-radius: 15px;
}

.box_p {
    font-size: 20px;
}